<p>
  <strong>accounted_on:</strong>
  <%= @transaction.accounted_on %>
</p>
<p>
  <strong>explanation:</strong>
  <%= @transaction.explanation %>
</p>
<p>
  <strong>transaction_type:</strong>
  <%= @transaction.transaction_type %>
</p>
<p>
  <strong>amount:</strong>
  <%= @transaction.amount %>
</p>

<%= link_to 'Back', transactions_path %>
